<% content_for(:special_content) do %>
  <h2><%= @game.name %></h2>

  <%= image_tag @game.image_url, class: "show-game-image" %>

  <p><%= @game.description %></p>

  <%= button_to "Play game", game_create_playthrough_path, params: { id: @game.id }, class: "btn btn-primary" %>

  <br/>
  <%= link_to 'Back to catalog', games_path %>
<% end %>
